*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
}
:root{
    --color-primary:#0f2862;
    --color-secondary:#9e363a;
    --color-tertiay:#091f36;
    --colour-quaternary:#4f5f76;
    --color-white:#ffffffff;
    
    --colour-grey1:#121212;
    --color-grey2:#181818;
    --color-grey3:#282828;
    --color-grey4:#404040;
    --color-grey5:#B3B3B3;
    --br-sm-2:14px;
    --transition-trans: all .5s ease-in-out;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
    --background-image-dark:url(./images/dark.jpg);
    --color-steel:#43464B;
    --colour-black:#3386ba;
    --colour-home:linear-gradient(to bottom left ,rgb(36, 36, 36),black);
    --colour-home1:linear-gradient(to bottom left ,rgb(37, 4, 52),black);
    --colour-home2:linear-gradient(to bottom left ,rgb(0, 32, 13),black);
    --colour-home3:linear-gradient(to bottom left ,rgb(44, 2, 40),black);
}
.light-mode{
    --color-white:rgb(214, 250, 82);
    --colour-black:#000;
    --colour-grey1:#121212;
    --color-grey2:#181818;
    --color-grey3:#002d69;
    --color-grey4:#404040;
    --color-grey5:#ffffff;
    --background-image-dark:url(./images/itl.cat_4k-ultra-hd-wallpapers_69235.png);
    --color-steel:#3386ba;
    --colour-black:rgb(50, 50, 50);
    --colour-home:linear-gradient(to right bottom,rgb(31, 3, 43),rgb(3, 59, 76));
    --colour-home1:linear-gradient(to right bottom,rgb(9, 69, 86),rgb(41, 9, 53));
    --colour-home2:linear-gradient(to right bottom,rgb(51, 13, 63),rgb(17, 96, 43));
    --colour-home3:linear-gradient(to right bottom,rgb(27, 99, 56),rgb(71, 23, 63));
}
body{
    background-image:var(--background-image-dark);
    background-color: #000;
    background-size: cover;
    background-repeat:no-repeat ;
    height: 100vh;
    font-family: 'Caveat', cursive;
    font-size: 1rem;
    color: var(--color-white);
    transition: all,.5s ease-in-out;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    height:100vh ;
    color: var(--color-white);
    overflow: hidden;
}
section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.section{
    display: none;
    transform: translateY(-100%) translateX(0) scale(0);
    transition:var(--transition-trans);
    background-color: none;
}
.sec1{
    display:none;
    transform: translateY(0)translateX(0)scale(1);
    // background-image: linear-gradient((to bottom right),rgba(246, 194, 148, 0.257),rgba(244, 238, 238, 0.25),rgba(46, 244, 109, 0.25));
    // background-image: linear-gradient(rgb(31, 3, 43),rgb(51, 42, 55));
    background-image:var(--colour-home);
    
}

.sec2{ 
    display:none;
    transform: translateY(0)translateX(0)scale(1);
    // background-color: rgba($color: white, $alpha: 0.2);
    background-image: var(--colour-home1);
}

.sec3{
    display:none;
    transform: translateY(0)translateX(0)scale(1);
    // background-color: rgba($color: white, $alpha: 0.2);
    background-image: var(--colour-home2);
}

.sec4{
    display:none;
    transform: translateY(0)translateX(0)scale(1);
    // background-color: rgba($color: white, $alpha: 0.2);
    background-image: var(--colour-home3);
}
.sec5{
    display:none;
    transform: translateY(0)translateX(0)scale(1);
    background-image: linear-gradient(to bottom right,rgba(255, 105, 240, 0.25),rgba(79, 201, 242, 0.25),rgba(111, 245, 153, 0.25),rgba(246, 248, 117, 0.25),rgba(253, 89, 63, 0.25));
}
.act{
    display: block;
    animation: ani 1s ease-in-out;
@keyframes ani {
    0%{
        transform: translateX(-100%) scaleX(0);
    }
    50%{
        transform: translateX(-10%) scaleX(50%);
    }
    100%{
        transform: translateX(0) scaleX(100%);
    }
}
}
//controls

.ctrls{
    position: fixed;
    z-index: 10;
    top:50%;
    right:3%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    transition: var(--transition-trans);
    .activate{
        // background-color:rgb(2, 215, 215)!important;
        // transition: var(--transition-trans)  ;
        // i{
        //     color:var(--color-white)!important;
        // }
        background-image: linear-gradient(120deg,var(--color-steel) 50% ,#fafafa 60%,#fafafa 61%,var(--color-steel) 70%);
        background-size: 200%;
        background-position: 100% 0;
        animation: waves 2s linear infinite;
        @keyframes waves {
            100%{
                background-position: -100%,0;
            }
        }
    }
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey3);
        width: 50px;
        height: 50px;
        border-radius: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.7rem;
        box-shadow:var(--box-shadow-1);
        i{
            font-size: 1.7rem;
            color:var(--color-grey5);
        }
    }
}


   
.logo{
    // color: #ffffffff;
    font-weight: 700;
    //text-decoration: solid;
    font-size: 2em;
    letter-spacing: 3px;
    width: 25%;
    animation: animate 25s linear infinite;   
}
@keyframes animate{
    50%
    {
        color: #0b9bc3;
        box-shadow: none;
    }
}
.theme{
    top: 5%;
    right: 3.65%;
    width: 85px;
    height:85px;
    position: fixed;
    border-radius: 50%;
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colour-black);
    box-shadow: 0 3px 15px rgba($color: #000000, $alpha: 0.3);
    // transition: all .1s ease-in-out;
        //    
        ;
    &:active{
        transform: translateY(-5px);
        transition: var(--transition-trans)
        var(--color-grey2) 
    }
    
    
    i{
        font-size: 1.4rem;
        // background-image: url("data:images/sun.svg+xml;base64,[data]");
        color:var(--color-white);
        pointer-events: none;
    }
}
.welcome {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    background-color: #eee;
  }
  
  .welcome p {
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #333;
  }