* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: 0;
            box-sizing: 0;
    list-style: none;
  }
  
  :root {
    --color-primary:#0f2862;
    --color-secondary:#9e363a;
    --color-tertiay:#091f36;
    --colour-quaternary:#4f5f76;
    --color-white:#ffffffff;
    --colour-black:#000;
    --colour-grey1:#121212;
    --color-grey2:#181818;
    --color-grey3:#282828;
    --color-grey4:#404040;
    --color-grey5:#B3B3B3;
    --br-sm-2:14px;
    --transition-trans: all .5s ease-in-out;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
  }
  
  body {
    background-image: url(./images/itl.cat_4k-ultra-hd-wallpapers_69235.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Caveat', cursive;
    font-size: 1rem;
    color: var(--color-white);
    -webkit-transition: all,.5s ease-in-out;
    transition: all,.5s ease-in-out;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
  }
  
  header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
  }
  
  section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
  }
  
  .section {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
    -webkit-transition: var(--transition-trans);
    transition: var(--transition-trans);
    background-color: var(--color-primary);
  }
  
  .sec1 {
    display: none;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  
  .sec2 {
    display: none;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  
  .sec3 {
    display: none;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  
  .sec4 {
    display: none;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  
  .sec5 {
    display: none;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  
  .sec6 {
    display: none;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  
  .ctrls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .ctrls .activate {
    background-color: #02d7d7 !important;
    -webkit-transition: var(--transition-trans);
    transition: var(--transition-trans);
  }
  
  .ctrls .activate i {
    color: var(--color-white) !important;
  }
  
  .ctrls .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey3);
    width: 50px;
    height: 50px;
    border-radius: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.7rem;
    -webkit-box-shadow: var(--box-shadow-1);
            box-shadow: var(--box-shadow-1);
  }
  
  .ctrls .control i {
    font-size: 1.7rem;
    color: var(--color-grey5);
  }
  
  .logo {
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 3px;
    width: 25%;
    -webkit-animation: animate 25s linear infinite;
            animation: animate 25s linear infinite;
  }
  
  @-webkit-keyframes animate {
    50% {
      color: #0b9bc3;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }
  
  @keyframes animate {
    50% {
      color: #0b9bc3;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }
  /*# sourceMappingURL=style.css.map */